@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

:root {
  --primary-color: #ec5242;
  --dark-color: #272a31;
  --light-color: #d3d3d3;
  --lighter-color: #f7f7f7;
  --gray-color: #3d3d3d;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Lato', sans-serif;
  color: #333;
  line-height: 1.6;
  background: #fff;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #333;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}

p {
  margin: 10px 0;
}

.top-nav {
  display: none;
}

.bottom-nav {
  display: none;
}

.mobile-menu {
  position: absolute;
  top: 0%;
  width: 100%;
  height: 100vh;
  left: 0;
  display: none;
  background-color: rgb(221 70 46 / 88%);
  backdrop-filter: blur(7px);
  animation-name: animatemobilebackground;
  animation-duration: 0.8s;
}

@keyframes animatemobilebackground {
  from {
    top: -300px;
    opacity: 0;
  }

  to {
    top: 0%;
    opacity: 1;
  }
}

.mobile-menu-list {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 18%;
  left: 20%;
}

.mobile-menu-item {
  color: #d3d3d3;
  font-weight: 800;
  font-size: 43px;
  margin-bottom: 25px;
}

.mobile-menu-item a {
  text-decoration: none;
  color: inherit;
  font-weight: inherit;
}

.close-button {
  position: absolute;
  width: 50px;
  top: 3%;
  right: 6%;
  filter: grayscale(100%);
}

.mobile i {
  font-size: 30px;
}

.hamburger {
  padding: 2% 0 0 2%;
}

.showcase {
  background-image: url("assets/images/mobile-home-bg.png");
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: cover;
  height: 550px;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 0 10px;
}

.showcase .container {
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

.showcase .hello {
  color: var(--primary-color);
}

.showcase h1 {
  width: 98%;
  font-size: 30px;
  font-weight: 900;
  color: transparent;
  -webkit-text-stroke: 1px #ec5242;
  background-image: url("assets/images/orangebg.jpg");
  -webkit-background-clip: text;
}

.showcase .showcase-p {
  border: 5px solid #fff;
  background: var(--lighter-color);
  padding: 5px 10px;
  margin: 20px 0;
}

h3 {
  font-size: 20px;
  font-weight: 700;
  color: #2c2c2c;
  margin-top: 20px;
  text-align: center;
  width: 227px;
}

.showcase h3 {
  color: var(--gray-color);
  font-weight: 900;
  font-size: 25px;
  text-align: left;
}

.showcase-text .intro-p {
  font-family: sans-serif, 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  align-items: center;
  text-align: center;
  color: #000;
}

.email-link {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}

.ccglobal img {
  width: 350px;
  height: 135px;
}

.bottom-text {
  font-family: sans-serif, 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 25px;
  text-align: center;
  color: #7a7a7a;
  width: 354px;
}

.gallery {
  display: grid;
  justify-items: center;
  margin-top: 100px;
}

.gallery p {
  font-size: 12px;
  width: 320px;
  text-align: center;
}

.gallery-img {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}

.gallery-img img {
  width: 334px;
  height: 182px;
}

.footer-about {
  background-color: #2e2e2e;
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;
}

.footer-about img {
  width: 325px;
  height: 61px;
  margin-top: 20px;
}

.footer-about p {
  color: #fff;
  width: 500px;
  font-size: 10px;
}

/* program */

.main-progam {
  background-image: url("assets/images/program.png");
  background-size: cover;
  background-repeat: repeat;
  width: 100%;
  height: auto;
  padding-bottom: 35px;
}

.main-progam .program-heading {
  color: #fff;
  font-size: 25px;
  display: flex;
  justify-content: center;
  padding-top: 40px;
  margin: 0 auto;
  margin-bottom: 3%;
}

.main-progam hr {
  width: 10%;
  height: 1px;
  border: none;
  margin: 0 auto;
  background-color: #ec5242;
}

.program-list {
  margin: 6% 2%;
  display: flex;
  flex-direction: column;
}

.program-item {
  background-color: #ffffff2b;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px 4px;
  width: 100%;
}

.program-image {
  margin-right: 10px;
  width: 15%;
}

.project-title {
  color: #ec5242;
  margin-right: 10px;
  font-size: 20px;
  width: 25%;
  text-align: center;
}

.program-detail {
  color: #fff;
  width: 60%;
  line-height: 20px;
  font-size: 15px;
  font-weight: 550;
}

.link-container {
  color: #fff;
  text-align: center;
  padding: 10px;
  background-color: #ec5242;
  margin-left: 35px;
  margin-right: 35px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
}

.link-container p {
  text-align: center;
  padding: 20px 10px;
  font-weight: 500;
  font-size: 23px;
}

.fs-hr {
  background-color: #ff5438;
  border: none;
  height: 5px;
  width: 50px;
  margin-top: 0;
}

.main-program .fs-hr {
  margin-top: -50px;
  margin-bottom: 50px;
}

.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 50px;
  gap: 10px;
  width: 300px;
  height: 68px;
  background: #ff4f38;
}

.partners {
  display: none;
}

footer {
  display: none;
}

.see-programs {
  display: none;
}

.featHead {
  text-align: center;
  font-weight: 600;
}

.featureLine {
  width: 10%;
  height: 2px;
  background-color: #ec5242;
  margin: 0 auto;
}

.featureContan {
  width: 95%;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.featureCard {
  display: flex;
  gap: 5px;
}

.hiddenCard {
  display: none;
}

.featureImage {
  width: 30%;
  height: 120px;
}

.featureName {
  font-size: 0.9rem;
  font-weight: 600;
}

.featureparag1 {
  font-size: 0.6rem;
  color: #ec5242;
}

.branch2 {
  width: 5%;
  height: 1px;
  background-color: #d3d3d3;
}

.featureparag2 {
  font-size: 0.6rem;
}

.btnMore {
  width: 95%;
  height: 30px;
  background-color: #fff;
  border: 1px solid #0000005a;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .hamburger {
    display: none;
  }

  .top-nav {
    display: block;
    background-color: #3e3e3e;
  }

  .top-list {
    display: flex;
    justify-content: end;
    padding: 5px 13%;
  }

  .top-item {
    margin-right: 15px;
    color: #fff;
    font-size: 13px;
  }

  .l-margin {
    margin-right: 0;
  }

  .nav-image {
    height: 16px;
    width: 16px;
    filter: brightness(0) invert(1);
  }

  .bottom-nav {
    display: block;
    background-color: #fff;
  }

  .container {
    padding: 0.5% 13%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .b-nav-image {
    height: 45px;
    width: 80px;
  }

  .b-list {
    display: flex;
    align-items: center;
  }

  .b-item {
    margin-right: 18px;
    font-size: 15px;
    color: #545454;
  }

  .b-item a {
    text-decoration: none;
    color: inherit;
    font-weight: inherit;
  }

  .b-item:hover {
    color: #ec5242;
  }

  .border-item {
    border: 3px solid #ec5242;
    padding: 10px;
  }

  .last {
    white-space: nowrap;
    margin-right: 0;
  }

  h3 {
    font-size: 20px;
    font-weight: 700;
    color: #2c2c2c;
    margin-top: 20px;
    text-align: center;
    width: 227px;
  }

  .showcase h1 {
    width: 98%;
    font-size: 45px;
    font-weight: 900;
    margin: 0 auto;
    -webkit-text-stroke: 1px #ec5242;
  }

  .showcase h3 {
    color: var(--gray-color);
    font-weight: 900;
    font-size: 25px;
    text-align: center;
    justify-content: center;
    align-self: center;
    padding: 0 10px;
    width: 0%;
  }

  .main-progam .program-heading {
    margin-bottom: 20px;
  }

  .main-progam hr {
    width: 3%;
    height: 1px;
    border: none;
    margin: 0 auto;
    background-color: #ec5242;
  }

  .program-list {
    padding-left: 13%;
    padding-right: 13%;
    display: flex;
    flex-direction: row;
    margin-left: 0;
    margin-right: 0;
    margin-top: 3%;
  }

  .program-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 0;
    padding: 10px;
    margin-right: 5px;
    height: 280px;
    border: 3px solid transparent;
    transition: border-color 0.3s ease;
  }

  .program-item:hover {
    border-color: white;
  }

  .program-image {
    margin: 0;
    width: 30%;
  }

  .project-title {
    margin: 0;
    text-align: center;
    margin-top: 20px;
    width: 100%;
  }

  .program-detail {
    width: 100%;
    font-weight: 500;
    margin-top: 10px;
    line-height: 20px;
  }

  .link-container {
    display: none;
  }

  .see-programs {
    display: flex;
    justify-content: center;
  }

  .see-programs a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    padding-bottom: 2px;
  }

  .featureContan {
    width: 95%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding-left: 70px;
    padding-right: 50px;
    margin-top: 50px;
    margin-left: 70px;
    margin-right: 50px;
  }

  .featureparag2 {
    width: 70%;
  }

  .hiddenCard {
    display: flex;
  }

  .btnMore {
    display: none;
  }

  .partner {
    display: flex;
  }

  .about-header {
    background: url(img/desktop-about-bg_img.jpg);
    text-align: center;
    display: grid;
    justify-items: center;
    width: 100%;
    height: 600px;
    margin-top: 100px;
  }

  .partners {
    display: block;
    background-color: #272a31;
    padding: 6% 15%;
  }

  .d-access {
    text-align: center;
    font-size: 28px;
    color: #4d4d4d;
    margin: 0 auto;
  }

  .partners-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;
    align-items: center;
  }

  .access {
    width: 12%;
    filter: grayscale(100%);
  }

  .partners hr {
    width: 3%;
    height: 1px;
    border: none;
    margin: 0 auto;
    background-color: #ec5242;
  }

  footer {
    padding: 3% 13% 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .footer-image {
    width: 200px;
    height: 100px;
    margin-right: 5%;
  }

  .footer-text {
    display: flex;
    flex-direction: column;
  }

  .top-footer {
    font-weight: 500;
    margin-bottom: 1%;
  }

  .bottom-footer {
    font-weight: 300;
    line-height: 22px;
  }
}
